/* style.css */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 52, 56);

  /* height: 100vh; */
  /* margin: 0; */
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 48px;
  color: rgb(226, 183, 19);
  border-style: dashed;
  border-color: aliceblue;
}
.choice h3 {
  text-align: center;
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(226, 183, 19);
}
.choice {
  border-style: dashed;
  border-color: aliceblue;
  /* align-items: center; */
  text-align: center;
}

img {
  margin: 14px;
  max-width: 170px;
  height: auto;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}
/* Media Query for smaller screens */
@media screen and (max-width: 650px) {
  h1 {
    font-size: 28px;
  }

  .choice h3 {
    font-size: 18px;
  }
  .choice {
    border-style: dashed;
  }

  img {
    margin: 4px;
    max-width: 25%;
  }
}
